In [71]:
!pip install openai awswrangler --quiet

import pandas as pd
import numpy as np
import datetime

import os
import openai

import awswrangler as wr

import time
import boto3

import requests
import json
from quizzing_helpers import *

In [72]:
# Setup of GPT-4 configurations for quizzing
key_file = open('/home/ec2-user/SageMaker/open_key.txt')
open_key = key_file.read()

os.environ["OPENAI_API_KEY"] = open_key
openai.api_key = os.environ['OPENAI_API_KEY']

In [73]:
from openai import OpenAI
openai_client = OpenAI()

athena = boto3.client("athena")
sagemaker = boto3.client("runtime.sagemaker")

In [74]:
# Setup of sqlcoder-7b configuration for quizzing
sql_7b = "https://yhkqe6os38yw017b.us-east-1.aws.endpoints.huggingface.cloud"

headers = {
	"Authorization": "Bearer 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",
	"Content-Type": "application/json"
}

In [75]:
# Setup of sqlcoder-34b configuration for quizzing
# Setup of llama-13b-chat configuration for interpretation

sql_34b = "text2sql-34b"
llama_endpoint = "interpreter-endpoint"

In [76]:
results_dict = pd.DataFrame(columns=['LLM',
                                     'Question',
                                     'Query',
                                     'Interpretation',
                                     'Text-to-SQL Time',
                                     'Query Success',
                                     'Query Time',
                                     'Interpretation Time'])

In [77]:
# results_dict = results_dict.append(test7b, ignore_index=True)

In [78]:
questions = [
    "which machines have the highest risk scores?",
    "give me the top 10 machines with the highest risk scores and when",
    "which machine had the highest risk scores on 11/13/2023?",
    "which machines had the highest overall average risk score?",
    "which machines had the highest average temperatures from 5/29/2022 to 8/29/2022?",
    "tell me the machines that had temperatures over 200 and when",
    "which machines had the highest speed differences? and when?",
    "which machines had the lowest average pressure between 8/29/2022 and 1/01/2023?",
    "give me the top 10 machines with the highest average speeed difference during August 2022",
    "tell me the machines with the highest average risk scores for the next 10 days",
    "which machines had pressure above 1900? and when?",
    "fetch me the machine id's that had above a speed difference of 400",
    "which day had the highest risk average risk score?",
    "tell me when machines had lower than a temperature of 25",
    "which machines had pressure below 75 and when?"
            ]

In [79]:
for i in range(len(questions)):
    results_dict = results_dict.append(ask_gpt(openai_client, athena, questions[i]), ignore_index=True)
    results_dict = results_dict.append(ask_7b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
    results_dict = results_dict.append(ask_34b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)

/tmp/ipykernel_24886/3330075471.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_gpt(openai_client, athena, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_7b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_34b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_gpt(openai_client, athena, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_7b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_34b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_gpt(openai_client, athena, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_7b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_34b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_gpt(openai_client, athena, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_7b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_34b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_gpt(openai_client, athena, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_7b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_34b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_gpt(openai_client, athena, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_7b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_34b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_gpt(openai_client, athena, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_7b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_34b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_gpt(openai_client, athena, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_7b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_34b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_gpt(openai_client, athena, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_7b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_34b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_gpt(openai_client, athena, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_7b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_34b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_gpt(openai_client, athena, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_7b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_34b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_gpt(openai_client, athena, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_7b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_34b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_gpt(openai_client, athena, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_7b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_34b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_gpt(openai_client, athena, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_7b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_34b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_gpt(openai_client, athena, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_7b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)
/tmp/ipykernel_24886/3330075471.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_dict = results_dict.append(ask_34b(llama_endpoint, athena, sagemaker, questions[i]), ignore_index=True)

In [80]:
for i in results_dict[results_dict['Query Success'] == 1]['Interpretation']:
    print(i)
    print("-----")

The SQL query was successful. It returned a dataframe that shows the maximum risk score for each machine in the factory. The machines are ordered by their maximum risk score in descending order.

From the results, we can see that machines M_0012 and M_0019 have the highest risk score of 3.0. This indicates that these machines have the highest risk of failure or malfunction. Machine M_0006 has a risk score of 2.0, which is lower but still significant. Machine M_0018 has a risk score of 1.0, indicating a lower risk of failure. The rest of the machines (M_0016, M_0023, M_0000, M_0021, M_0013, M_0009, M_0005, M_0004, M_0024, M_0017, M_0010) have a risk score of 0.0, indicating no immediate risk of failure.

Based on these results, I would recommend prioritizing maintenance and inspection for machines M_0012 and M_0019 due to their high risk scores. Machine M_0006 should also be monitored closely. For the rest of the machines, regular maintenance should be sufficient, but continue to monitor their risk scores to ensure they remain low.
-----
  Based on the query results, the machines with the highest risk scores are:

1. M_0019 with a risk score of 3.0
2. M_0006 with a risk score of 2.0

There are three instances of M_0019 and two instances of M_0006 in the query results, all with the same risk score.

Recommendations to fix the associated issues with the metrics returned:

1. Review the risk scores for M_0019 and M_0006 to determine the cause of the high risk scores. This could be due to a vulnerability in the machine or a misconfiguration that needs to be addressed.
2. Consider implementing additional security measures to mitigate the risk, such as patching vulnerabilities, configuring firewalls, or implementing intrusion detection systems.
3. Monitor the risk scores for these machines regularly to ensure that the issues are being addressed and the risk scores are decreasing over time.
-----
  Based on the query results, the machines with the highest risk scores are:

1. M_0019 with a maximum risk score of 3.0
2. M_0012 with a maximum risk score of 3.0

These two machines have the same maximum risk score, indicating that they are both at high risk of failing.

The other machines have lower risk scores, ranging from 1.0 to 2.0, indicating that they are at a lower risk of failing. However, it's important to note that even machines with lower risk scores can still fail, and it's important to monitor and maintain all machines regularly to prevent failures.

Recommendations for addressing the issues associated with the metrics returned include:

1. Monitoring the risk scores regularly and taking appropriate action when the risk scores are high, such as performing maintenance or replacing the machine.
2. Investigating the cause of the high risk scores for M_0019 and M_0012, such as checking for software or hardware issues, and taking corrective action as needed.
3. Ensuring that all machines are properly maintained and updated with the latest software and firmware to reduce the risk of failure.
-----
  Sure, I can help you with that! Here are the top 10 machines with the highest risk scores and their corresponding timestamps:

1. Machine ID: M_0019, Risk Score: 3.0, Timestamp: 2023-11-09
2. Machine ID: M_0019, Risk Score: 3.0, Timestamp: 2023-11-16
3. Machine ID: M_0006, Risk Score: 2.0, Timestamp: 2023-11-01
4. Machine ID: M_0006, Risk Score: 2.0, Timestamp: 2023-11-04
5. Machine ID: M_0019, Risk Score: 2.0, Timestamp: 2023-11-05
6. Machine ID: M_0006, Risk Score: 2.0, Timestamp: 2023-11-02
7. Machine ID: M_0019, Risk Score: 2.0, Timestamp: 2023-11-04
8. Machine ID: M_0006, Risk Score: 2.0, Timestamp: 2023-11-03
9. Machine ID: M_0006, Risk Score: 2.0, Timestamp: 2023-11-07

Based on the results, it appears that machines M_0019 and M_0006 have the highest risk scores and are experiencing issues on multiple dates. Here are some recommendations on how to address the associated issues:

1. Investigate the cause of the risk scores: It's important to understand why these machines are experiencing high risk scores. This could be due to software or hardware issues, network connectivity problems, or other factors.
2. Prioritize maintenance and upgrades: Based on the timestamps, it appears that machines M_0019 and M_0006
-----
  Sure, I can help you with that! Here are the top 10 machines with the highest risk scores and their corresponding timestamps:

1. Machine ID: M_0019, Risk Score: 3.0, Timestamp: 2023-11-09
2. Machine ID: M_0019, Risk Score: 3.0, Timestamp: 2023-11-16
3. Machine ID: M_0006, Risk Score: 2.0, Timestamp: 2023-11-01
4. Machine ID: M_0006, Risk Score: 2.0, Timestamp: 2023-11-04
5. Machine ID: M_0019, Risk Score: 2.0, Timestamp: 2023-11-05
6. Machine ID: M_0006, Risk Score: 2.0, Timestamp: 2023-11-02
7. Machine ID: M_0019, Risk Score: 2.0, Timestamp: 2023-11-04
8. Machine ID: M_0006, Risk Score: 2.0, Timestamp: 2023-11-03
9. Machine ID: M_0006, Risk Score: 2.0, Timestamp: 2023-11-07

Based on the results, it appears that machines M_0019 and M_0006 have the highest risk scores and are experiencing issues on multiple dates. Here are some recommendations on how to address the associated issues:

1. Investigate the cause of the risk scores: It's important to understand why these machines are experiencing high risk scores. This could be due to software or hardware issues, network connectivity problems, or other factors.
2. Prioritize maintenance and upgrades: Based on the timestamps, it appears that machines M_0019 and M_0006
-----
The query was successful. The output indicates that on the date 2023-11-13, the machine with the ID 'M_0012' had the highest risk score of 2.0 among all the machines. This risk score is a measure of the likelihood of a machine failure or malfunction.

Recommendations:
1. Immediate attention should be given to machine 'M_0012' as it has the highest risk score.
2. A thorough inspection and maintenance check should be conducted on this machine to identify any potential issues that might lead to a failure.
3. If the machine is found to be at risk during the inspection, necessary repairs or replacements should be carried out immediately to prevent any production downtime.
4. Regular monitoring of the machine's performance and condition should be done to ensure it is operating optimally and to detect any early signs of potential issues.
-----
  Based on the query results you provided, the machine with the highest risk score on 11/13/2023 is M_0012, with a maximum risk score of 2.0.

To interpret the results, we can see that the risk score is a measure of the likelihood of a machine failing or experiencing an issue. A higher risk score indicates a higher likelihood of failure, while a lower risk score indicates a lower likelihood of failure.

In this case, the risk score of 2.0 for M_0012 indicates that there is a moderate to high likelihood of failure or issues with this machine. It is important to investigate and address any potential issues with this machine to prevent failures or downtime.

To fix the associated issues with the metrics returned, it may be helpful to:

1. Review the machine's maintenance history and performance data to identify any patterns or trends that may be contributing to the high risk score.
2. Check the machine's hardware and software components to ensure that they are functioning properly and are up to date.
3. Review the machine's configuration and settings to ensure that they are optimized for performance and reliability.
4. Consider implementing additional monitoring and alerting measures to detect and respond to any potential issues before they become critical.

By taking these steps, you can help to mitigate the risk of failure and ensure the reliability and performance of your machines.
-----
The query was successful. The output indicates that the machine with the ID 'M_0006' has the highest average risk score of 2.0 among all machines in the 'predictions_prod' table. This suggests that machine 'M_0006' is at the highest risk based on the data.

Recommendations:
1. Immediate attention should be given to machine 'M_0006' due to its high risk score. This could indicate potential issues or malfunctions.
2. Maintenance checks and diagnostics should be performed on machine 'M_0006' to identify and resolve any issues.
3. If the machine is found to be faulty, it should be repaired or replaced to prevent any potential production downtime.
4. Implement regular monitoring and predictive maintenance to prevent such high-risk scenarios in the future.
-----
  Sure, I can help you with that!

Based on the query results you provided, the machine with the highest overall average risk score is M_0006, with a score of 2.0.

To interpret the results, we need to understand what the average risk score represents. In this case, it seems that the risk score is a measure of the machine's vulnerability to potential security threats. A higher risk score indicates a higher likelihood of a security incident occurring on that machine.

Given this interpretation, it's concerning that M_0006 has a risk score of 2.0, indicating that it may be at a higher risk of a security incident compared to other machines.

To address this issue, I would recommend the following:

1. Conduct a thorough security assessment of M_0006 to identify the specific vulnerabilities that are contributing to its high risk score.
2. Prioritize and address any identified vulnerabilities, such as installing missing security patches, configuring firewalls, or implementing additional security measures.
3. Monitor M_0006 for any suspicious activity or changes in its risk profile, and take prompt action if any issues are detected.

By taking these steps, you can help mitigate the potential security risks associated with M_0006 and ensure the security of your organization's assets.
-----
  Sure, I can help you with that!

Based on the query results you provided, the machine with the highest overall average risk score is M_0006, with a score of 2.0.

To interpret the results, we need to understand what the average risk score represents. In this case, it seems that the risk score is a measure of the machine's vulnerability to potential security threats. A higher risk score indicates a higher likelihood of a security incident occurring on that machine.

Given this interpretation, it's concerning that M_0006 has a risk score of 2.0, indicating that it may be at a higher risk of a security incident compared to other machines.

To address this issue, I would recommend the following:

1. Conduct a thorough security assessment of M_0006 to identify the specific vulnerabilities that are contributing to its high risk score.
2. Prioritize and address any identified vulnerabilities, such as installing missing security patches, configuring firewalls, or implementing additional security measures.
3. Monitor M_0006 for any suspicious activity or changes in its risk profile, and take prompt action if any issues are detected.

By taking these steps, you can help mitigate the potential security risks associated with M_0006 and ensure the security of your organization's assets.
-----
The SQL query was successful and it returned the average temperature of each machine in the factory from May 29, 2022 to August 29, 2022. The machines are ordered by their average temperature in descending order.

From the results, we can see that machine M_0007 had the highest average temperature of approximately 145.34 during this period. This is closely followed by machines M_0014, M_0003, M_0011, and M_0008 with average temperatures of approximately 144.53, 144.35, 144.25, and 144.12 respectively.

On the lower end, machine M_0021 had the lowest average temperature of approximately 142.84.

Recommendations:
1. Machines with higher average temperatures, especially M_0007, may be at risk of overheating. It is recommended to inspect these machines for any issues that might be causing the high temperatures.
2. Implement a regular maintenance schedule to ensure all machines are operating within their optimal temperature range.
3. Consider installing a real-time monitoring system to alert staff when a machine's temperature exceeds a certain threshold. This can help prevent damage to the machines and potential production downtime.
-----
  Based on the query results, there were no failures in the query.

To answer your question, the machines with the highest average temperatures from 5/29/2022 to 8/29/2022 are:

1. M_0014 with an average temperature of 144.530536°C
2. M_0007 with an average temperature of 145.336151°C
3. M_0003 with an average temperature of 144.351623°C

These machines had the highest average temperatures during the specified time period.

However, there are a few observations that could be worth investigating:

1. M_0011 and M_0008 have relatively high average temperatures, but their temperatures are not as high as M_0014, M_0007, and M_0003. It may be worth investigating why these machines are not reaching the same temperatures as the other machines.
2. M_0005 and M_0016 have relatively low average temperatures compared to the other machines. It may be worth investigating why these machines are not reaching the same temperatures as the other machines.
3. There is a significant difference in average temperature between M_0011 and M_0014, which may indicate a difference in cooling performance or other factors.

Overall, it may be worth investigating the reasons for the differences in average temperature between the machines, as well as the reasons for the relatively low temperatures of M_0005 and M_0016.
-----
The SQL query was successful and it returned a dataframe with two columns: 'machineid' and 'timestamp'. The query was designed to select machine IDs and timestamps from the 'telemetry_extended_v3' table where the temperature exceeded 200.

From the results, we can see that several machines have recorded temperatures above 200 at different times. The machines with IDs 'M_0004', 'M_0013', 'M_0005', 'M_0010', 'M_0001', 'M_0009', and 'M_0008' have all experienced high temperatures.

Machine 'M_0004' had high temperatures on January 29, 2022, at two different times. Machine 'M_0013' had a high temperature on January 30, 2022. Machine 'M_0005' had high temperatures on March 19, 2022, at three consecutive times. Machine 'M_0010' had high temperatures on March 18, 2022, at four different times. Machine 'M_0001' had high temperatures on March 18, 2022, at two different times and on May 6, 2022. Machine 'M_0009' had a high temperature on June 22, 2022, and machine 'M_0008' had a high temperature on August 9, 2022.

Recommendations:
1. Investigate these machines for possible issues causing the high temperatures. This could be due to mechanical issues, overuse, or lack of maintenance.
2. Implement a real-time monitoring system to alert when temperatures exceed safe levels.
3. Regular maintenance and checks should be performed on these machines to prevent future occurrences.
4. If a machine consistently shows high temperatures, it may be necessary to replace it or upgrade its cooling system.
-----
  Sure! Here are the machines that had temperatures over 200 and when:

1. Machine M_0004 had a temperature of 210.99 on 2022-01-29 06:42:53.
2. Machine M_0005 had temperatures of 202.07 and 206.82 on 2023-02-22 03:49:14 and 03:49:18, respectively.
3. Machine M_0008 had temperatures of 200.50, 202.19, and 204.20 on 2023-02-22 06:24:41, 06:24:43, and 06:24:45, respectively.

Based on the results, it appears that machines M_0004, M_0005, and M_0008 had temperatures over 200 at some point in time.

As for recommendations on how to fix any associated issues with the metrics returned, here are a few suggestions:

1. Check the data quality: The timestamp values for machines M_0004 and M_0005 appear to be inconsistent, with some values being in the future. This could be due to a data entry error or a problem with the data collection process. It's important to ensure that the data is accurate and consistent to avoid any confusion or misinterpretation.
2. Verify the data sources: The query results indicate that there are multiple data sources for the temperature readings. It's important to verify that all data sources are reliable and accurate to ensure that the metrics are representative of the entire population.
3. Consider aggregating the data: The query results show individual temperature readings for each machine, but it may be more useful to aggregate the data by machine or by time interval to provide a more comprehensive view of the temperature trends.
4. Investigate outliers: The query results show a few outliers, such as the temperature reading of 210.99 for machine M_000
-----
  Sure! Here are the machines that had temperatures over 200 and when:

1. Machine M_0018 had a temperature of 214.89 at timestamp 2023-10-29 15:40:47.
2. Machine M_0023 had temperatures of 214.82, 208.56, and 205.27 at timestamps 2023-10-28 15:02:59, 2023-10-28 15:02:57, and 2023-10-28 15:02:55, respectively.
3. Machine M_0012 had temperatures of 214.93 and 211.06 at timestamps 2023-10-28 03:22:41 and 2023-10-28 03:22:40, respectively.

There are no other machines with temperatures over 200 in the given query results.

As for recommendations, it's worth noting that there are some missing timestamp values in the data, which could be causing issues with the query results. It may be helpful to investigate the cause of these missing values and consider filling them in or adjusting the query to account for them. Additionally, it may be helpful to consider adding filters or aggregations to the query to narrow down the results and make the data more manageable.
-----
  The query results show the maximum speed difference for each machine over a specific time range. To answer the question, we need to identify the machines with the highest speed differences and when those differences occurred.

From the results, we can see that the machines with the highest speed differences are:

1. M_0002: The maximum speed difference for this machine is 838.39 - 770.70 = 67.69, which occurred on 2023-10-31 18:40:54.
2. M_0007: The maximum speed difference for this machine is 837.71 - 770.70 = 66.91, which occurred on 2023-10-31 18:44:59.
3. M_0006: The maximum speed difference for this machine is 826.94 - 770.70 = 56.24, which occurred on 2023-10-31 18:45:59.

These machines had the highest speed differences during the specified time range.

However, there are some issues with the metrics returned by the query. Firstly, there are some negative speed differences, which is unlikely and may indicate a problem with the data. Secondly, there are some machines with very high speed differences, which may indicate a problem with the measurement process.

To fix these issues, I would recommend the following:

1. Check the data for any errors or inconsistencies and correct them before analyzing the results.
2. Use a more appropriate measurement process to capture the machine speeds more accurately.
3. Consider using a moving average or other smoothing technique to reduce the variability in the speed measurements and make the results more meaningful.
4. If the negative speed differences are due to a specific issue, such as a machine malfunction, consider excluding those data points from the analysis.
-----
  The query results show that the machines with the highest speed differences are:

1. M_0002 with a speed difference of 838.39 - 837.71 = 0.68 on August 10, 2023
2. M_0006 with a speed difference of 826.94 - 822.74 = 4.20 on January 25, 2022
3. M_0013 with a speed difference of 813.48 - 802.49 = 11.09 on April 12, 2023

These machines had the highest speed differences compared to their previous measurements.

However, there are some issues with the metrics returned:

1. M_0005 has a negative speed difference (-789.45) on June 26, 2023, which is unlikely and may indicate a measurement error.

In [81]:
results_dict

,LLM,Question,Query,Interpretation,Text-to-SQL Time,Query Success,Query Time,Interpretation Time
0,GPT-4,which machines have the highest risk scores?,"SELECT machine_id, MAX(risk_score) as max_risk...",The SQL query was successful. It returned a da...,12.61,1,3.21,14.23
1,sqlcoder-7b,which machines have the highest risk scores?,"SELECT machine_id, risk_score FROM prediction...","Based on the query results, the machines wit...",1.33,1,2.96,4.88
2,sqlcoder-34b,which machines have the highest risk scores?,"\n SELECT machine_id, MAX(risk_score) AS m...","Based on the query results, the machines wit...",2.13,1,3.01,5.91
3,GPT-4,give me the top 10 machines with the highest r...,"SELECT machine_id, MAX(risk_score) as max_risk...",The SQL query failed to execute. The error mes...,12.56,0,1.52,6.59
4,sqlcoder-7b,give me the top 10 machines with the highest r...,"SELECT predictions_prod.machine_id, predictio...","Sure, I can help you with that! Here are the...",1.99,1,2.92,11.31
5,sqlcoder-34b,give me the top 10 machines with the highest r...,"\n SELECT machine_id, risk_score, timestam...","Sure, I can help you with that! Here are the...",1.55,1,3.00,11.34
6,GPT-4,which machine had the highest risk scores on 1...,"SELECT machine_id, MAX(risk_score) as highest_...",The query was successful. The output indicates...,13.04,1,2.96,10.34
7,sqlcoder-7b,which machine had the highest risk scores on 1...,"SELECT predictions_prod.machine_id, MAX(predi...",The query could not be processed by Athena.,3.02,0,1.53,0.29
8,sqlcoder-34b,which machine had the highest risk scores on 1...,"\n SELECT machine_id, MAX(risk_score) AS m...","Based on the query results you provided, the...",3.26,1,2.97,6.77
9,GPT-4,which machines had the highest overall average...,"SELECT machine_id, AVG(risk_score) as average_...",The query was successful. The output indicates...,12.25,1,3.08,8.59
10,sqlcoder-7b,which machines had the highest overall average...,"SELECT machine_id, AVG(risk_score) AS average...","Sure, I can help you with that!\n\nBased on ...",1.98,1,2.91,6.52
11,sqlcoder-34b,which machines had the highest overall average...,"\n SELECT machine_id, AVG(risk_score) AS a...","Sure, I can help you with that!\n\nBased on ...",2.30,1,2.96,6.53
12,GPT-4,which machines had the highest average tempera...,"SELECT machineid, AVG(temperature) as average_...",The SQL query was successful and it returned t...,13.18,1,6.24,11.10
13,sqlcoder-7b,which machines had the highest average tempera...,"SELECT machineid, AVG(temperature) AS average...",The query could not be processed by Athena.,2.83,0,1.48,0.35
14,sqlcoder-34b,which machines had the highest average tempera...,"\n SELECT machineid, AVG(temperature) AS a...","Based on the query results, there were no fa...",3.61,1,4.03,8.70
15,GPT-4,tell me the machines that had temperatures ove...,"SELECT machineid, timestamp\nFROM telemetry_ex...",The SQL query was successful and it returned a...,11.47,1,5.20,19.54
16,sqlcoder-7b,tell me the machines that had temperatures ove...,"SELECT telemetry_extended_v3.machineid, telem...",Sure! Here are the machines that had tempera...,2.39,1,4.02,11.60
17,sqlcoder-34b,tell me the machines that had temperatures ove...,"\n SELECT t.machineid, t.temperature, t.ti...",Sure! Here are the machines that had tempera...,2.31,1,4.03,8.58
18,GPT-4,which machines had the highest speed differenc...,"SELECT machineid, timestamp, MAX(speed_differe...",The SQL query failed to execute and could not ...,11.94,0,1.50,2.48
19,sqlcoder-7b,which machines had the highest speed differenc...,"SELECT machineid, MAX(speed_difference) AS ma...",The query results show the maximum speed dif...,2.25,1,4.15,11.54
20,sqlcoder-34b,which machines had the highest speed differenc...,"\n SELECT t.machineid, t.timestamp, t.spee...",The query results show that the machines wit...,2.58,1,4.01,9.69
21,GPT-4,which machines had the lowest average pressure...,"SELECT machineid, AVG(pressure) as average_pre...",The query was successful. It returned the mach...,12.86,1,4.11,9.93
22,sqlcoder-7b,which machines had the lowest average pressure...,"SELECT machineid, AVG(pressure) AS average_pr...",The query could not be processed by Athena.,2.84,0,1.47,0.32
23,sqlcoder-34b,which machines had the lowest average pressure...,"\n SELECT machineid, AVG(pressure) AS aver...",The query did not fail.\n\nBased on the resu...,3.78,1,3.03,4.50
24,GPT-4,give me the top 10 machines with the highest a...,"SELECT machineid, AVG(speed_difference) as avg...",The SQL query was successful and it returned t...,13.65,1,4.06,16.44
25,sqlcoder-7b,give me the top 10 machines with the highest a...,"SELECT machineid, AVG(speed_difference) AS av...",The query could not be processed by Athena.,3.17,0,1.49,0.31
26,sqlcoder-34b,give me the top 10 machines with the highest a...,"\n SELECT machineid, AVG(speed_difference)...",Sure! Here are the top 10 machines with the ...,4.17,1,4.05,10.93
27,GPT-4,tell me the machines with the highest average ...,"SELECT machine_id, AVG(risk_score) as average_...",The SQL query failed to execute and could not ...,12.64,0,0.35,4.52
28,sqlcoder-7b,tell me the machines with the highest average ...,"SELECT predictions_prod.machine_id, AVG(predi...",The query could not be processed by Athena.,3.05,0,1.49,0.28
29,sqlcoder-34b,tell me the machines with the highest average ...,"\n SELECT machine_id, AVG(risk_score) AS a...",The query could not be processed by Athena.,3.25,0,1.52,0.30
30,GPT-4,which machines had pressure above 1900? and when?,"SELECT machineid, timestamp\nFROM telemetry_ex...",The SQL query was successful. The dataframe re...,11.70,1,3.05,11.55
31,sqlcoder-7b,which machines had pressure above 1900? and when?,"SELECT telemetry_extended_v3.machineid, telem...","The query did not fail.\n\nFrom the results,...",2.49,1,5.10,11.01
32,sqlcoder-34b,which machines had pressure above 1900? and when?,"\n SELECT t.machineid, t.timestamp FROM te...","Based on the query results, there are no mac...",2.13,1,5.06,6.82
33,GPT-4,fetch me the machine id's that had above a spe...,SELECT machineid \nFROM telemetry_extended_v3 ...,The SQL query was successful. The query was de...,11.73,1,5.43,16.38
34,sqlcoder-7b,fetch me the machine id's that had above a spe...,SELECT machineid FROM telemetry_extended_v3 W...,Sure! Here are the machine IDs that had a sp...,1.06,1,4.38,5.41
35,sqlcoder-34b,fetch me the machine id's that had above a spe...,\n SELECT machineid FROM telemetry_extende...,"Sure, I can help you with that!\n\nBased on ...",1.55,1,5.39,5.71
36,GPT-4,which day had the highest risk average risk sc...,"SELECT DATE(`timestamp`) as date, AVG(`risk_sc...",The SQL query failed to execute and could not ...,12.36,0,0.41,3.42
37,sqlcoder-7b,which day had the highest risk average risk sc...,"SELECT date_trunc('day', timestamp) AS day, A...",The query could not be processed by Athena.,2.07,0,1.53,0.30
38,sqlcoder-34b,which day had the highest risk average risk sc...,"\n SELECT date(p.timestamp) AS date, AVG(p...",The query did not fail.\n\nBased on the resu...,3.16,1,3.01,3.66
39,GPT-4,tell me when machines had lower than a tempera...,"SELECT `timestamp`, `machineid` \nFROM `teleme...",The SQL query failed to execute. The error mes...,11.85,0,0.35,2.52
40,sqlcoder-7b,tell me when machines had lower than a tempera...,"SELECT timestamp, machineid FROM telemetry_ex...",Sure! Here are the results of the query:\n\n...,0.99,1,4.05,7.16
41,sqlcoder-34b,tell me when machines had lower than a tempera...,"\n SELECT machineid, temperature FROM tele...",Sure! Here are the machine IDs with temperat...,1.42,1,2.89,1.62
42,GPT-4,which machines had pressure below 75 and when?,"SELECT machineid, timestamp\nFROM telemetry_ex...",The SQL query was successful. The dataframe re...,11.81,1,4.11,10.59
43,sqlcoder-7b,which machines had pressure below 75 and when?,"SELECT telemetry_extended_v3.machineid, telem...","The query did not fail.\n\nFrom the results,...",2.99,1,5.22,7.57
44,sqlcoder-34b,which machines had pressure below 75 and when?,"\n SELECT t.machineid, t.pressure, t.times...","Based on the given query results, there are ...",2.53,1,4.21,4.18

In [82]:
wr.s3.to_parquet(
    dataset=True,
    df=results_dict,
    database='capstone_v3',
    path="s3://predictive-maintenance-capstone-sn/data/llm_eval/",
    table='llm_eval_v2')

{'paths': ['s3://predictive-maintenance-capstone-sn/data/llm_eval/d7b8e40784294a81ad44e9437f302a85.snappy.parquet'],
 'partitions_values': {}}

In [83]:
df = wr.athena.read_sql_query(
            sql="SELECT * FROM llm_eval_v2",
            database='capstone_v3',
            ctas_approach=True)

In [84]:
df.to_csv('result_table_v2.csv',index=False)

In [85]:
df.head(3)

,llm,question,query,interpretation,text_to_sql_time,query_success,query_time,interpretation_time
0,sqlcoder-7b,which machines have the highest risk scores?,"SELECT machine_id, risk_score FROM prediction...","Based on the query results, the machines wit...",1.33,1,2.96,4.88
1,sqlcoder-34b,which machines have the highest risk scores?,"SELECT machine_id, MAX(risk_score) AS ma...","Based on the query results, the machines wit...",2.13,1,3.01,5.91
2,sqlcoder-7b,which machine had the highest risk scores on 1...,"SELECT predictions_prod.machine_id, MAX(predi...",The query could not be processed by Athena.,3.06,0,2.59,0.36

In [86]:
gpt = df[df['llm'] == "GPT-4"]

In [87]:
sql7b = df[df['llm'] == "sqlcoder-7b"]

In [88]:
sql34b = df[df['llm'] == "sqlcoder-34b"]

Checking latency of Text-to-SQL translation

In [89]:
gpt_t2s = np.round(gpt['text_to_sql_time'].mean(),2)
sql7b_t2s = np.round(sql7b['text_to_sql_time'].mean(),2)
sql34b_t2s = np.round(sql34b['text_to_sql_time'].mean(),2)

Checking the percentage of queries accepted by Athena

In [90]:
gpt_correct = np.round(len(gpt[gpt['query_success'] == 1]) / len(gpt),2) * 100
sql7b_correct = np.round(len(sql7b[sql7b['query_success'] == 1]) / len(sql7b),2) * 100
sql34b_correct = np.round(len(sql34b[sql34b['query_success'] == 1]) / len(sql7b),2) * 100

Checking the time it took for the generated query to run through Athena

In [91]:
gpt_query = np.round(gpt['query_time'].mean(),2)
sql7b_query = np.round(sql7b['query_time'].mean(),2)
sql34b_query = np.round(sql34b['query_time'].mean(),2)

Checking the time it took for the interpretation of query results

In [92]:
gpt_int = np.round(gpt['interpretation_time'].mean(),2)
sql7b_int = np.round(sql7b['interpretation_time'].mean(),2)
sql34b_int = np.round(sql34b['interpretation_time'].mean(),2)

In [93]:
llm_comp = pd.DataFrame(columns=['LLM',
                                 'Average Text-to-SQL Time',
                                 'Text-to-SQL % Successful',
                                 'Average Query Time',
                                 'Average Interpretation Time'])

In [94]:
llm_comp = llm_comp.append({
    'LLM': 'GPT-4',
    'Average Text-to-SQL Time': gpt_t2s,
    'Text-to-SQL % Successful': gpt_correct,
    'Average Query Time': gpt_query,
    'Average Interpretation Time': gpt_int
}, ignore_index=True)

llm_comp = llm_comp.append({
    'LLM': 'sqlcoder-7b',
    'Average Text-to-SQL Time': sql7b_t2s,
    'Text-to-SQL % Successful': sql7b_correct,
    'Average Query Time': sql7b_query,
    'Average Interpretation Time': sql7b_int
}, ignore_index=True)

llm_comp = llm_comp.append({
    'LLM': 'sqlcoder-34b',
    'Average Text-to-SQL Time': sql34b_t2s,
    'Text-to-SQL % Successful': sql34b_correct,
    'Average Query Time': sql34b_query,
    'Average Interpretation Time': sql34b_int
}, ignore_index=True)

/tmp/ipykernel_24886/514161286.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  llm_comp = llm_comp.append({
/tmp/ipykernel_24886/514161286.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  llm_comp = llm_comp.append({
/tmp/ipykernel_24886/514161286.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  llm_comp = llm_comp.append({

In [95]:
llm_comp['Total Time'] = llm_comp['Average Text-to-SQL Time'] + llm_comp['Average Query Time'] + llm_comp['Average Interpretation Time']

In [96]:
llm_comp

,LLM,Average Text-to-SQL Time,Text-to-SQL % Successful,Average Query Time,Average Interpretation Time,Total Time
0,GPT-4,12.29,73.0,3.06,8.97,24.32
1,sqlcoder-7b,2.37,54.0,2.77,4.61,9.75
2,sqlcoder-34b,2.76,92.0,4.04,6.64,13.44

In [97]:
llm_comp.to_csv("llm_comp_v2.csv", index=False)